@-webkit-keyframes mmm-voice-pulse {
    0% {color: #999999;}
    50% {color: #000000;}
    100% {color: #999999;}
}

.mmm-voice .pulse {
    -webkit-animation: mmm-voice-pulse 1s infinite;
}

.mmm-voice .icon {
    margin-right: 5px;
}

.mmm-voice-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.mmm-voice .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.mmm-voice .modal ul {
    margin: 0px;
}
